<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.composer.pedometer">

    <application
        android:name="kr.co.composer.pedometer.application.PedometerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".dao.pedometer.PedoContentProvider"
            android:authorities="@string/url_content_authority"
            android:exported="false"/>


        <!-- 만보기 리시버 & 서비스 -->
        <!--<receiver-->
        <!--android:name=".broadcast.MySensorRecever"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name="kr.co.composer.pedometer.service.StepService"
            android:enabled="true"/>

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 부팅시 자동실행 -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

</manifest>
