<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.composer.pedometer">

    <application
        android:name="kr.co.composer.pedometer.application.PedometerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="kr.co.composer.pedometer.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".dao.pedometer.PedoContentProvider"
            android:authorities="@string/url_content_authority"
            android:exported="false"></provider>

        <receiver android:name="kr.co.composer.pedometer.broadcast.GpsEventBroadcast">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- 만보기 리시버 & 서비스 -->
        <!--<receiver-->
        <!--android:name=".broadcast.MySensorRecever"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name="kr.co.composer.pedometer.service.StepService"
            android:enabled="true"></service>
        <!-- 구글맵 V2실행을 위해 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDsBlUUpeX-IIVUpOTcnegvaSICJBXHawE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <!-- 구글맵 V2실행을 위해 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="kr.co.SearchMJ.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- 부팅시 자동실행 -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

</manifest>
